
    <div class="cart box_1">
        <a href="@Url.Action("XemGioHang","GioHang")">
            <div class="total-wrapper">
                <span class="total">
                    @ViewBag.TongTien USD (<span>@ViewBag.TongSoLuong</span> Sản phẩm )
                </span>
                @*<img src="~/Content/images/cart.png" alt="">*@
            </div>
        </a>
    </div>
